DialogDataStructure/dialogs/dialog-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:complexType name="TextType">
        <xs:sequence>
            <xs:element name="Id" type="xs:string"/>
            <xs:element name="Content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BranchType">
        <xs:sequence>

            <xs:element name="Texts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Text" type="TextType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="NextBranches" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Branch" type="BranchType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:element name="Dialog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="xs:string" minOccurs="0"/>
                <xs:element name="Start" type="BranchType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
